@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Lato', sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
}
a {
	text-decoration:none;}
.display-none{
	display:none;}
.clear{
	clear:both;}
.hover-a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
}
.hover1b{
	display:none !important;}
.hover1:hover .hover1a{
	display:none !important;
	transition:.15s ease-in-out;}
.hover1:hover .hover1b{
	display:inline-block !important;
	transition:.15s ease-in-out;}
.visible-img:hover{
	cursor:pointer;}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #ffffff00 inset !important;
	font-size: 18px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px  #ffffff inset !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 18px !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}

/*Start */
.background-div{
	background-image:url(../img/bg.jpg);
	background-size:cover;
	width:100%;
	min-height:calc(100vh - 23px);	
	overflow: hidden;
}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.logo-img {
    width: 70px;
}
.header-logo {
    padding: 8px 0;
}
.login-white-box{
	width:35%;
	background-color:#ffffffad;
	overflow:hidden;
	float:right;
	border-radius: 15px;
	padding: 20px 30px;
	margin-top: 70px;}
.green-text{
	color:#1c4564;
}
.h1-title {
    font-weight: 900;
    font-size: 42px;
    margin: 0;
}
.green-border {
    border-bottom: 5px solid #1c4564;
    width: 40px;
    margin-top: 5px;
}
.line-input {
    background-color: transparent;
    background: none;
    border: 0;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid grey;
    margin-top: 30px;
}
.line-input:focus{
	border-bottom: 1px solid #1c4564;
	transition:.15s ease-in-out;}
.visible-img {
    width: 25px;
}
.visible-p {
    position: absolute;
    right: calc(7.5% + 30px);
    margin-top: -20px;
}
.checkbox-div {
    margin-top: 20px;
}
.green-button {
    background-color: #7ecbc8;
    border: 0;
    font-size: 21px;
    /* padding: 6px; */
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 19px;
    margin-top: 20px;
	text-align:center;
	color:white;
}
.green-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#1c4564;}
.orange-button {
    background-color: #ffbb78;
    border: 0;
    font-size: 21px;
    /* padding: 6px; */
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 19px;
    margin-top: 20px;
	text-align:center;
	color:white;
}
.orange-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#ff9536;}
.green-footer {
    text-align: center;
    background-color: #1c4564;
	padding: 3px 0;
}
.footer-p {
    margin: 0;
	font-size: 14px;
	padding-bottom: 2px;
}
.green-a{
	color:#2f8c83;
}
.green-a:hover{
	color:#1c4564;
	transition:.15s ease-in-out;
	cursor:pointer;}

/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #7ecbc8;
  float: right;
  font-size: 42px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content {
    width: 40%;
    border: 0;
    margin-top: calc(50vh - 131px);
    padding: 50px;
}
.h2-title {
    font-weight: 900;
    font-size: 32px;
    margin: 0;
}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dropdown-a:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.header1{
	width:100%;
	background-color:#7ecbc8;
	padding-top:8px;
	padding-bottom:8px;}	
.menu-img {
    width: 30px;
}
.menu-padding:hover{
	cursor:pointer;}
.menu-margin {
    margin-left: 25px;
}	
.right-menu-div {
    margin-top: 3px;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;
	margin-top:-25px;}
.menu-distance{
	margin-top:100px;}
.four-div-box{
	float:left;
	width:22%;
	text-align:center;
	padding: 30px 15px;
	    margin-bottom: 35px;}
.left-four-div{
	margin-left:4%;
	margin-right:4%;}
.right-four-div{
	margin-right:4%;}
.white-dropshadow-box{
	-webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.12); 
	box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.12);
	border-radius: 15px;}
.border-separation{
	margin-top: 60px;	
}
.four-div-img {
    width: 50%;
}
.four-div-amount-p {
    font-weight: 800;
    font-size: 27px;
    margin: 0;
}
.bottom-spacing{
	height:50px;}
.opacity-hover:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.left-h1-div {
    float: left;
    width: 250px;
}
.mid-search-div {
    float: left;
	width:calc(100% - 450px);
	padding: 0 15%;
}
.right-add-div {
    float: right;
    width: 200px;
    text-align: center;
}
.search-btn {
    background: none;
    border: 0;
    position: absolute;
    margin-top: 25px;
    margin-left: -30px;
}
.scroll-div{
	display: block;
    overflow: auto;
    height: calc(100vh - 80px);
}
.green-table{
border-collapse: collapse;}
.green-table th{
	text-align:left;
	background-color:#7ecbc8;
	color:white;
	padding:5px;
	border-left:1px solid white;
	vertical-align: top;}
.green-table td{
	border-left:1px solid white;
	padding:5px;
	background-color:#cfe8e4;
	border-bottom: 1px solid white;
	vertical-align: top;	
}
.first-column{
	border-left:0;}
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        
        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#7ecbc8;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#7ecbc8;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#7ecbc8;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}
        
        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
		.jssora051{ width: 35px !important;height: 35px !important;}

#jssor_1{
	margin-top:53px !important;	
}

/**/
.left-align-title {
    float: left;
}
.right-align-link {
    float: right;
	margin-top: 30px;
}
.ow-homepage-slider{
	width: 100% !important;
    margin-left: -12px !important;
    margin-right: 0 !important;	
	margin-top: 0 !important;
	overflow-x: auto;
    overflow-y: hidden;
    padding-right: 0;
	padding-left: 0;
	margin-bottom: 10px !important;
}
.slick-prev, .slick-next {
	display:none!important;}
.light-green-a{
	color:#7ecbc8;}
.light-green-a:hover{
	color:#1c4564;}
.shadow-white-box{
	-webkit-box-shadow: 0px 0px 5px 3px rgba(130, 130, 130, 0.15); 
	box-shadow: 0px 0px 5px 3px rgba(130, 130, 130, 0.15);
	background-color: white;	
}
.slick-list{
	padding: 15px;
	padding-right:0;
}
.product-box {
    width: 300px !IMPORTANT;
	border-radius:5px;
	float:left;
	margin-right:0;
	background-color: white;
}
.product-details-div {
    padding: 0 20px 20px 20px;
	overflow: hidden;
	background-color:white;
}
.two-border-radius{
	border-top-left-radius:5px;
	border-top-right-radius:5px;}
.slider-product-price {
    font-weight: 800;
    font-size: 24px;
    margin-top: 0;
	margin-bottom: 0;
}
.slider-product-name {
    margin-bottom: 5px;
}
.overbigflow {
    width: 3300px;
}
.grey-bg {
    background-color: #eff0f0;
}
.slider-location {
    margin: 0;
}
.featured{
	padding:3px;
	background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
	}
.not-featured{
	padding-bottom:3px;}
.partner-img {
    width: 18%;
}
.second-partner-img {
    margin-left: 2.5%;
	margin-right: 2.5%;
}
.partner-img {
    width: 17.5%;
}
.mid-btn-width {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.mini-height30 {
    height: 30px;
}
.two-div-width {
    width: 48%;
    float: left;
	margin-bottom: 30px;
	overflow:hidden;
}
.second-two-div-width{
	margin-left:4%;}
.left-img-div {
    float: left;
    height: 250px;
    width: 30%;
    background-size: cover;
    background-position: center;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	overflow: hidden;
}
.right-content-div {
    float: left;
    width: 70%;
	padding: 15px;
	height: 250px;
	overflow:hidden;
}
.article-title {
    margin: 0;
	font-weight: 900;
}
.date-p {
    margin-top: 5px;
    font-size: 14px;
}
.blog-box {
    border-radius: 10px;
}
.light-green-text{
    color: #7ecbc8;	
}
.red-text {
    color: #ff7b7b;
}
.middle-logo {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.center-content {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
.contact-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.radio1 {
    width: 22px;
	margin-left: 0;
    margin-right: 0;
}
.input-name {
    width: 100%;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #919396;
	background-color: white;
}
.input-message {
    min-height: 120px;
}
.opt-msg {
    float: left;
    width: calc(100% - 35px);
    margin-top: 0;
}
.black-to-white:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;	}
.text-menu-a {
    font-weight: 600;}
.text-menu-right {
    margin-top: 7px;
}
.green-bg{
	background-color: #7ecbc8;	
}
.footer-slick {
    width: 80% !important;
    float: left;
	margin-top: 0 !important;
	display:none;
}
.left-back-button {
    float: left;
    width: 20%;
	display:none;
}
.footer-menu-div{
	width:18%;}
.web-view-footer{
    width: 100%;
    float: left;
	padding-top: 2px;	
	}
.footer-img {
    width: 35px;
}
.footer-margin1 {
    margin-left: 3.5%;
}
.web-view-footer a {
    width: 9%;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.sticky-footer{
	position:fixed;
	bottom:0;}
.sticky-distance {
    height: 43px;
}
.privacy-p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
	color: #1c4564;
}
.dark-green-a{
	color: #1c4564;	
}
.dark-green-a:hover{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;}
.grey-border{
	border-bottom:1px solid #d8d8d8;
	width:100%;}
.signup-modal-content {
    margin-top: 80px;
}
.fb-button-container{
	text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;	
}
.light-green-a{
	color:#7ecbc8;}
.light-green-a:hover{
	color:#1c4564;
	transition:.15s ease-in-out;
	cursor:pointer;}
.bottom-distance {
    margin-bottom: 30px;
}	
.modal-visible-p {
    position: absolute;
    right: calc(30% + 55px);
    margin-top: -45px;
}
.same-with-btn-font{
	font-size:21px;}
.w50{
	width:50%;}
.orange-bg{
	background-color:#ffbb78;}
.peach-bg{
	background-color:#f99595;}
.sky-bg{
	background-color:#71deff;}
.tur-bg{
	background-color:#83ddd2;}
.fav {
    overflow: hidden;
	height: calc(50vh - 60.5px);
	text-align: center;
}
.menu-distance2{
	margin-top:53px;}
.fav-p {
    font-size: 21px;
	margin-bottom: 0;
	margin-top: 10px;
}
.fav-img {
    height: 140px;
    margin-top: calc(25vh - 155px);
}
.menu-icon {
    width: 20px;
}
.menu-three-div {
    float: left;
	width: 60px;
}
.mid-menu-three-div {
    margin-left: 30px;
    margin-right: 30px;
}
.three-menu-container {
    padding-top: 30px;
    margin-bottom: 20px;
}
.red-dot {
    background-color: #f99595;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
	margin-top: -60px;
	float:right;
}
.red-dot-p {
    margin: 0;
    color: white;
    padding-top: 5px;
    font-size: 14px;
}
.menu-three-img {
    float: left;
}
.transparent-button {
    background: transparent;
    border: 0;
}
.filter-div {
    float: right;
    margin-top: 15px;
}
.filter-icon {
    height: 25px;
}
.filter-btn {
    margin-right: 15px;
}
.filter-a {
    font-size: 18px;
    color: #7ecbc8;}
.four-box-size{
	width: 23%;
    border-radius: 5px;
    float: left;
    margin-right: 1.7%;
    background-color: white;
	margin-bottom: 20px;
}
.width103{
	width:103%;}
.min-height{
	min-height:calc(100vh - 121px);	
}
.min-height-with-filter{
	min-height:calc(100vh - 202px);		
}
.min-height3{
	min-height:calc(100vh - 168px);	
}
.fix-filter {
    position: fixed;
    background-color: white;
	clear: both;
    top: 48px;
}
.filter-distance {
    margin-top: 110px;
}
.filter-modal{
	width: 90%;
    margin-top: 50px;
	overflow: hidden;
}
.filter-border{
	margin-bottom:50px;}

/* The container */
.filter-label, .filter-label2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-label2 {
	font-size:18px;}
/* Hide the browser's default checkbox */
.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-label input:checked ~ .checkmark {
  background-color: #7ecbc8;
}
.filter-label3 input:checked ~ .checkmark {
  background-color: #3da0e6;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filter-search {
    border: 0;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;

}
.filter-search-img {
    width: 20px;
}
.filter-search-btn {
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}
.filter-option {
    width: 20%;
    float: left;
    padding-right: 20px;
}
.filter-div-section {
    overflow: hidden;
    border-bottom: 1px solid #dadada;
    padding-bottom: 20px;
    margin-bottom: 30px;
}


.button-label {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
  width: 120px;
  text-align: center;
  cursor: pointer;
  color: #a5a7aa;
  border:1px solid #a5a7aa;
  border-radius: 20px;
  background: white;
  font-weight: 300;
  font-size:18px;
  margin-left:30px;
}

.button-label:hover {
  background:#7ecbc8;
  color:white;
  border:1px solid #7ecbc8;
}
.radio-label:checked + .button-label {
  background: #7ecbc8;
  color: white;
}
.radio-label:checked + .button-label:hover {
  background: #7ecbc8;
  color:  white;
}

.hidden {
  display: none;
}
.distance-slider {
    margin-top: 50px;
	padding: 0 20px;
}

.ui-slider-handle:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.ui-slider-handle::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.mid-btn-margin{
	margin-left:calc(50% - 150px);}
.pet-slider-img{
	width:100%;}
.left-image-div {
    width: 500px;
    float: left;
}
.menu-distance3 {
    margin-top: 83px;
}
.video-iframe {
    height: 500px;
}
.lSSlideOuter .lSPager.lSGallery li{
	width:95px !important;}
.lSSlideOuter .lSPager.lSGallery{
	width:100% !important;}
.sold-label {
    background-color: #7ecbc8;
    color: white;
    padding: 5px;
    width: 80px;
    text-align: center;
	position: absolute;
    font-size: 21px;
    margin-top: -580px;}
.right-content-div2{
	float:left;
	width:calc(100% - 500px);
	padding-left: 50px;}
.breed-p {
    margin: 0;
}
.pet-name {
    margin-top: 5px;
	margin-bottom: 0;
}
.price-p2 {
	float: left;
    margin-top: 5px;
    font-weight: 900;
    font-size: 24px;
    color: black;
}
.right-info-div {
    float: right;
	margin-top: 5px;
}
.contact-icon img {
    width: 25px;
	margin-right: 25px;
}
.last-contact-icon img{
    margin-right: 0;
}
.contact-icon img:hover{
	cursor:pointer;}
.grey-p {
    color: #8a8a8a;
}
.seller-profile-div {
    width: 200px;
    float: left;
}
.seller-profile {
    width: 100%;
}
.right-seller-details {
	padding-left: 30px;
    float: left;
    width: calc(100% - 200px);
}
.seller-name-h1 {
    margin-top: 0;
    color: black;
	font-size: 24px;
}
.seller-h1 {
    font-size: 27px;
}
.grey-p {
    color: #989898;
}
.left-review-p, .left-review-mark, .right-review-star{
	float:left;	
}
.left-review-mark {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.star-img {
    width: 22px;
}
.min-height2 {
    min-height: calc(100vh - 151px);
}
.a2a_default_style a {
    margin-right: 10px;
    margin-bottom: 10px;
}
.sticky-call-div{
	display:none;
	width: 100%;
	position: fixed;
    bottom: 43px;
    background-color: white;}
.three-div-width {
    width: 33.3%;
    float: left;
}
.sticky-call-style {
    font-size: 18px;
    padding: 4px 0;
    border: 1px solid #a49898;
    color: #a49898;
}
.sticky-distance2 {
    height: 43px;
}
.left-address-info {
    float: left;
    margin-bottom: 30px;
    width: calc(100% - 160px);
}
.review-div{
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	width:100%;
	overflow:hidden;
	margin-bottom: 30px;}
.right-arrow {
    float: right;
}
.big-info-div {
    margin-bottom: 80px;
}
.sold-label2 {
    background-color: #7ecbc8;
    color: white;
    padding: 5px;
    width: 80px;
    text-align: center;
    position: absolute;
    font-size: 21px;
	margin-top:30px;
}
.left-review-profile {
    width: 100px;
    float: left;
}
.left-review-profile img{
    width: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.pointer:hover{
	cursor:pointer;}
.left-review-data {
    float: left;
    margin-left: 30px;
}
.review-username-p {
    margin-bottom: 5px;
    margin-top: 0;
    color: black;
    font-weight: 900;
}
.right-review-div {
    float: right;
}
.react-button img {
    width: 30px;
}
.review-date {
    color: #a5a5a5;
    font-size: 14px;
}
.one-row-review {
    border-bottom: 1px solid #bbbdbf;
    clear: both;
	padding-top: 30px;
    padding-bottom: 10px;
	padding-left: 5%;
    padding-right: 5%;
}
.review-content-p {
    font-size: 18px;
}
.margin-top-bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}
.report-modal-margin{
	margin-top: calc(50vh - 150px);}
.review-textarea {
    min-height: 100px;
}
.review-modal-margin{
	margin-top: 100px;
}
.partners-search-div{
	float:left;
	width:40%;
	margin-top: 5px;
	margin-left: calc(30% - 123.77px);}
.seller-rating {
    width: 13px;
}
.seller-name {
    color: black;
    font-weight: 900;
}
.slider-services {
    font-size: 14px;
}
.ow-margintop0{
	margin-top:0 !important;}
.grey-to-green{
	color:#a5a7aa;}
.grey-to-green:hover{
	color:#1c4564;
	cursor:pointer;
	transition:.15s ease-in-out;}
.product-btn {
    font-size: 16px;
}
.product-filter-a {
    float: right;
    margin-top: 25px;
}
.sold-color{
	color:#f99595;}
.left-price {
    float: left;
}
.right-like {
    float: right;
    width: 20px;
}
.rating-tiny-star {
    width: 15px;
    margin-left: 2px;
}
.left-rating {
    float: left;
	margin-top:0;
	margin-bottom:0;
}
.right-sold {
    float: right;
	margin-top:0;
	margin-bottom:0;
}
.product-price-width{
	width:calc(100% - 25px);}
.contain1000{
	float:left;
	margin-right: 25px;}
.product-details-p{
	text-align:center;}

.tab {
  overflow: hidden;
  border-top: 1px solid #e4e5e6;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:1px solid #1c4564; 
}

/* Create an active/current tablink class */
.tab button.active {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:1px solid #1c4564; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
.tablinks {
    width: 50%;
    text-align: center;
}
.block{
	display:block;}
.grey-to-lightgreen{
	color:#989898;}
.grey-to-lightgreen:hover{
	color:#7ecbc8;
	cursor:pointer;
	transition:.15s ease-in-out;}
.beside-right-arrow {
    float: right;
    margin-right: 20px;
}
.upper-review-div {
    margin-bottom: 0;
    border-bottom: 0;
}
.top-divider {
    margin-top: 50px;
}
.red-btn {
    text-align: center;
    color: white;
    background-color: #f99595;
	padding: 10px 0;
}
.red-btn:hover{
    background-color: #f95a5a;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.sticky-distance3 {
    height: 80px;
}
.variation-img{
	width:100%;
}
.variation-left-div {
    float: left;
    width: 400px;
}
.block2{
	display:block;}
.variation-btn {
    width: 100%;
	text-align: left;
}
/* Change background color of buttons on hover */
.tab .variation-btn:hover {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:0; 
}

/* Create an active/current tablink class */
.tab .variation-btn.active {
	color:#1c4564;
	transition:.15s ease-in-out;
	border-bottom:0; 
}
.variation-tab {
    border-top: 0;
    float: left;
    width: calc(100% - 400px);
}
.variation-hidden-div {
    margin-left: 50px;
}
.left-stock-p {
    float: left;
    color: #adadad;
	margin-top:0;
	margin-bottom:0;
}
.right-price-p {
    float: left;
    margin-left: 200px;
	color: #adadad;
	margin-top:0;
	margin-bottom:0;	
}
.quantity-p {
    float: left;
}
.right-amount-p {
    float: left;
    margin-left: 210px;
}
.quantity-label{
    border: 0;
	font-weight: 700;
	float: left;
}
.numbers-row-css  {
    float: left;
    margin-left: 210px;
	margin-top: 10px;
}
.button2{
	cursor:pointer;}
.inc {
    float: left;
}
.dec {
    float: left;
}
.add-minus {
    width: 28px;
}
.quantity-input{
	float:left;
	width:50px;
	border:0;
	text-align:center;
	font-size: 18px;
}

.left-total-p {
    float: left;
    color: #adadad;
    margin-left: 10px;
    font-size: 24px;
}
.right-total-price {
    float: right;
    color: black;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 24px;
    margin-right: 20px;
}
.variation-bottom-div {
    overflow: hidden;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 0;
	background-color: white;
}
.purchase-bottom-div {
    width: 89.9%;
    margin-left: -20px;
    position: fixed;
	bottom: 5vh;
}
.variation-modal-css {
    padding-bottom: 110px;
    height: 90vh;
    overflow: auto;
    margin-top: 5vh;
}
.left-orange-div {
    width: 50%;
    float: left;
    border-radius: 0;
	margin-top:0;
	padding: 10px;
}
.right-red-div {
    width: 50%;
    float: left;
    border: 0;
    margin-bottom: 0;
}
.left-orange-div, .right-red-div {
	font-size:18px;}
.tab-tab-btn {
    width: 25%;
	padding: 5px !important;
}
.tab-tab-btn:hover .tab-tab-p{
	color:#7ecbc8;
	transition:.15s ease-in-out;
	cursor:pointer;	
}
.tab-tab-btn:hover{
	transition:.15s ease-in-out;
	cursor:pointer;	
	border-bottom: 1px solid #7ecbc8 !important;	
}
.sticky-tab-tab {
    width: 100%;
	border-top: 0;
    border-bottom: 1px solid #e4e5e6;
	position: fixed;
    background-color: white;
	z-index: 99;
}
.tab-tab-btn.active{
	border-bottom: 1px solid #7ecbc8 !important;	
}
.tab-tab-btn.active .hover1a{
	display:none !important;
}
.tab-tab-btn.active .hover1b{
	display:inline-block !important;
}
.tab-tab-btn.active .tab-tab-p{
	color:#7ecbc8 !important;
}
.tab-tab-p {
    margin: 0;
    font-size: 15px;
}
.tab-icon {
    width: 35px;
}
.two-menu-space {
    height: 81px;
}
.green-dot {
    background-color: #7ecbc8;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: calc(12.5% + 10px);
    margin-top: -2px;
    position: absolute;
}
.min-height4 {
    min-height: calc(100vh - 202px);
}
.right-delete {
    float: right;
    padding: 0;
    font-size: 18px;
    color: red;
}
.right-delete:hover{
	color:#d00000;
	cursor:pointer;
	transition:.15s ease-in-out;}
.variation-label {
    margin-bottom: 0;
}
.left-cart-img-div {
    float: left;
    width: 20%;
}
.left-product-details {
    float: left;
    width: calc(80% - 65px);
}
.cart-product-title {
    font-weight: 900;
    font-size: 24px;
    margin-top: 0;
}
.left-quantity1{
	float: left;
    margin-top: 0;
    margin-bottom: 0;
	color: #adadad;}
.left-shipping1{
	float: left;
    color: #adadad;
}
.cart-numbers {
    margin-left: 250px;
	margin-top: 0;
}
.right-rm2 {
    float: left;
    margin-left: 145px;
	margin-top:0;
	font-weight: 900;
}

.right-rm {
    font-weight: 900;
    margin-left: 310px;
}
.left-total {
    float: left;
    margin-top: 0;
	color: #adadad;
}
.close-img{
	width:25px;
	cursor:pointer;}
.per-product-div{
	border-bottom:1px solid #adadad;
	overflow: hidden;
	padding-top: 20px;
    padding-bottom: 10px;
	}
.voucher-option {
    margin-top: 30px;
}
.voucher-exp {
    font-size: 14px;
    color: #adadad;
}
.left-bottom-price{
	float:left;
	margin-bottom:0;}
.right-bottom-price{
	float:right;
	margin-bottom:0;}
.checkout-btn {
    width: 500px;
    margin-bottom: 0;
	margin-bottom: 20px;
}
.sticky-bottom-price {
    background-color: white;
    position: fixed;
    bottom: 43px;
    width: 100%;
    margin-left: -8.2%;
}
.no-sticky-bottom{
    background-color: white;
    width: 100%;	
}
.with-margin-bottom{
	margin-bottom: 16px;}
.same-padding3{
	padding-left:8.2%;
	padding-right:8.2%;}
.sticky-distance-bottom{
	width:100%;
	min-height:110px;}
.right-product-x {
    float: right;
}
.weight900{
	font-weight:900;}
.ship-right-info {
    float: left;
    width: 80%;
    padding-left: 20px;
}
.right-ship-amount {
    font-size: 18px;
	color:#adadad;
}
.right-ship-price {
    font-weight: 700;
    font-size: 21px;
}
.receive-price {
    margin-top: 0;
}
/* Rating */
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #f5921e;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #f5921e;
}
/*Uploaded*/

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #7ecbc8;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #7ecbc8));
  background: linear-gradient(to right, #393f90 0%, #7ecbc8 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #7ecbc8 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #7ecbc8;
  border-color: #7ecbc8;
  cursor: pointer;
}
.back-button {
    width: 25px;
}
.top-text {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.bottom-text {
    margin: 0;
    color: black;
    font-weight: 500;
    font-size: 20px;
}
.dual-div {
    width: 48%;
    float: left;
}
.second-dual-div {
    margin-left: 4%;
}
.dual-div {
    width: 48%;
    float: left;
    margin-bottom: 20px;
}
.order-table {
    width: 65%;
    margin-top: 10px;
	font-size: 20px;
	border-collapse: collapse;
}
.order-table th {
    text-align: left;
    border: 1px solid gainsboro;
	padding: 5px;
	vertical-align:top;	
}
.order-table td {
    border: 1px solid gainsboro;
	padding: 5px;
	vertical-align:top;
}
.price-column{
	text-align:right !important;
}

.price-table {
    font-size: 20px;
    border-collapse: collapse;
    text-align: right;
    width: calc(20% - 5px);
    margin-left: 45%;
	margin-bottom: 20px;
}
.price-table td{
	vertical-align:top;}
.some-margin-bottom{
	margin-bottom:30px;}
.copy-png {
    width: 20px;
}
.price-padding{
	padding-left:20px;}
.notice-modal-content {
    margin-top: 15vh;
    width: 50%;
	text-align:center;
}
.blog-img {
    width: auto;
    height: 250px;
}
.cover-photo {
    width: 125%;
    margin-left: -12.5%;
}
.blog-inner-div {
    width: 50%;
    margin: 0 auto;
	background-color: white;
    padding: 0 5%;
	overflow: hidden;
}
.blog-big-div {
    background-color: #dedede;
}
.small-blog-date {
    margin-top: 10px;
    color: #bbbbbb;
    font-size: 14px;
}
.blog-content-img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.border-new-div {
    border-top: 1px solid #1c4564;
}
.share-div{
	margin-top:30px;
	margin-bottom: 30px;}
.left-img-div2 {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.right-content-div3 {
    width: 100%;
    padding: 10px 20px;
}
.right-content-p {
    margin-bottom: 0;
    height: 55px;
    overflow: hidden;
}
.recommend {
    margin-bottom: 50px;
}
.profile-top-div {
    margin-top: 30px;
}
.profile-pic {
    width: 100%;
}
.profile-pic-div {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
	float: left;
}
.next-to-profile-pic-div {
    float: left;
    width: calc(100% - 100px);
    padding-left: 35px;
}
.profile-greeting {
    font-weight: 600;
}
.edit-png {
    width: 15px;
    margin-right: 10px;
}
.line-divider {
    border-top: 1px solid #e4e5e6;
    border-bottom: 1px solid #e4e5e6;
	padding: 10px 0;
	margin-top: 30px;
}
.four-div {
    text-align: center;
    overflow: hidden;
    width: 25%;
    float: left;
}
.green-dot2 {
    margin-left: calc(10.5% + 10px) !important;
    width: 25px !important;
    height: 25px !important;}
.cart-text {
    margin: 0;
    font-size: 10px;
    color: white;
    margin-top: 6px;
	text-align: center;
}
.profile-line-divider {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e4e5e6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-icon-png {
    width: 100%;
}
.left-icon-div {
    float: left;
    width: 30px;
}
.right-profile-content {
    float: left;
    margin-left: 20px;
    margin-top: 3px;
}
.review-product-name {
    color: #1c4564;
    font-weight: 800;
    font-size: 21px;
}
.like-no-p {
    margin-top: 0;
}
.dual-input {
    width: 48%;
    float: left;
}
.second-dual-input {
    margin-left: 4%;
}
.edit-1-btn{
	width:48%;}
.edit-password-input {
    width: calc(100% - 28px);
    float: left;
	border:0;
	margin-bottom: 0 !important;
}
.edit-p-password {
    float: left;
    margin-top: 7px;
	margin-bottom: 0 !important;
}
.edit-password-img {
    width: 25px;
}
.edit-password-input-div {
    overflow: hidden;
    border: 1px solid #919396;
    margin-bottom: 20px;
}
.address-textarea {
    min-height: 100px;
}
.bottom-distance20{
	margin-bottom:20px;}
.ccv-img{
	margin-top:-3px;}
.edit-password-img:hover{
	cursor:pointer;}
.ccv-modal-margin {
    margin-top: 100px;
    width: 50%;
}
.edit-png:hover{
	cursor:pointer;}
.delete-btn{
	color:#2f8c83;
	font-size: 16px;}
.delete-btn:hover{
	cursor:pointer;
	color:#ed6061;}
.card-table td {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.left-align-p {
    float: left;
}
.left-add-btn {
    float: left;
    margin-left: 30px;
    width: 100px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.confirm-title{
	text-align:center;}
.confirm-modal-margin {
    margin-top: calc(50vh - 115px);
    width: 50%;
}
.confirm-title {
    text-align: center;
	margin-bottom: 30px;
}
.cancel-btn {
    width: 48%;
    float: left;
    border: 0;
    padding: 10px 0;
    border-radius: 25px;
	text-align: center;
    background-color: whitesmoke;
}
.cancel-btn:hover{
	cursor:pointer;
	background-color:#7ecbc8;
	color:white;
	transition:.15s ease-in-out;}
.delete-btn2 {
    width: 48%;
    margin-left: 4%;
    float: left;
	border: 0;
	border-radius: 25px;
}
.input-top-p {
    margin-bottom: 5px;
    font-size: 13px;
    color: darkgrey;
	margin-top: 0;
}
.input-textarea {
    height: 35px;
}
.blue-button {
    border: 0;
    background-color: #395795;
    font-size: 21px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 25px;
}
.blue-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#28447d;}
.update-div-div {
    position: absolute;
    opacity: .7;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
	display:none;
}
.profile-pic-div:hover .update-div-div {
	display:block;
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.extra-spacing-bottom {
    margin-bottom: 30px;
    margin-top: 30px;
}
input.admin-input:-webkit-autofill, input.admin-input:-webkit-autofill:hover, input.admin-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff00 inset !important;}
.admin-min-height-with-distance {
    min-height: calc(100vh - 125px);
}
.green-table tr:nth-child(odd) td{
    background-color: #dcf7f2;
}
.green-table tr:nth-child(even) td{
    background-color: #f2fbf9;
}
.edit-icon1 {
    width: 25px;
}
.padding-bottom30{
	padding-bottom:30px;}
.admin-top-p {
    color: #2f8c83;
}
.admin-input {
    border: 0;
    border-bottom: 1px solid #d8d8d8;
	margin-bottom: 35px;
}
.admin-address-textarea{
	border:1px solid #d8d8d8;	
}
.admin-input:focus{
    border-bottom: 1px solid #2f8c83;	
}
.admin-address-textarea:focus{
	border:1px solid #2f8c83;		
}
.slider-update {
    float: right;
    margin-top: 0;
    width: 200px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
	margin-top:0;
}
.slider-delete {
    width: 200px;
    float: right;
    margin-left: 30px;
}
.left-slider{
	float:left;
	width:100px;
	margin-top: 7px;}
.right-slider {
    float: right;
    width: calc(100% - 110px);
}
.darkgreen-button {
    background-color: #1c4564;
    border: 0;
    padding: 5px 20px;
    border-radius: 30px;
    font-size: 21px;
    width: 180px;
	color: white;
    text-align: center;
}
.darkgreen-button:hover{
	background-color:#0c2233;
	cursor:pointer;
	transition:.15s ease-in-out;}
.margin-bottom-25{
	margin-bottom:25px;}
.featured-left {
    width: auto !important;
}
.featured-same-button {
    border: 0;
    margin-top: 15px;
    width: 100%;
    border-radius: 25px;
    font-size: 18px;
    padding: 5px 0 !important;
}
.featured-right .green-button {
    margin-top: 10px;
}
.breed-button {
    width: 200px;
    float: left;
}
.color-button {
    margin-left: 20px;
}
.puppy-button-div{
	clear:both;}
.bottom-reject {
    border: 0;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 21px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.dual-left-div {
    width: 650px;
	float: left;
}
.dual-search-div{
	float: left;
    width: calc(100% - 650px);
    padding: 0;
    padding-left: 50px;	
}
.photo-left-div, .button-right-div{
	width:auto !important;}

.left-download-btn {
    width: 180px;
    padding: 5px 20px;
}
.right-uplaod-btn {
    margin-left: 15px;
}
.button-right-div {
    margin-top: -10px;
}
.left-request-div {
    float: left;
    width: 50%;
}
.right-search-div {
    float: left;
    width: 50%;
}
.right-search-div .line-input {
    margin-top: 20px;
}
.right-search-div .search-btn {
    margin-top: 20px;
}
.right-search-div .visible-img {
    width: 20px;
}
.small-spacing {
    margin-top: 20px;
}
.refund-product {
    width: 300px;
}
.approve-png {
    width: 30px;
}
.table-left-review-profile{
	float: left;
    width: 50px;
}
.table-left-review-profile img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.table-left-review-data{
    float: left;
    margin-left: 5px;
}
.table-left-review-data {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 0;
    color: black;
    font-weight: 900;	
}
.table-star-img{
	width: 12px;
}
.table-review-username-p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0px;
}
.table-review-img {
    width: 120px;
}
.table-review-p {
    font-size: 16px;
    margin-bottom: 0;
}
.table-date-p {
    font-size: 14px;
    margin-top: 10px;
    color: #bbbbbb;
	margin-bottom:0;
}
.approve-button {
    padding: 0;
	margin-bottom: 10px;
}
.table-review-comment {
    margin-top: 10px;
}
.small-padding {
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.product-filter-h1 {
    margin: 10px 0;
}
.fix-filter h1 {
    margin: 10px 0;
}
.product-filter-div {
    margin-top: 20px;
}
.product-filter-a {
    margin-top: 20px;
}
.shadow-padding{
	padding-top:7px;}
.adopt-bg{
	background-image:url(../img/malaysia-pet-adoption.jpg);
	background-size:cover;
	background-position: center;
	padding-top: 100px;
    padding-bottom: 100px;}
.adopt-h1 {
    color: white;
    font-weight: 900;
    margin-top: 0;
	font-size: 48px;
}

.adopt-p {
    color: white;
    font-size: 27px;
}
.adopt-btn {
    color: white;
    background-color: #ff9f9f;
    width: 200px;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 20px;
}
.paw-png {
    width: 30px;
}
.adopt2{
	display:none;}
/* Overwrite */
.width1075{
	width:107.5%;
	margin-left:-7.5%;}
.margin-bottom30{
	margin-bottom:30px;}
.padding-bottom30{
	padding-bottom:30px;}
.ow-margin-bottom-0{
	margin-bottom:0;}
.two-square-btn{
	border-radius:0;
	width:50%;
	text-align:center;
	float:left;
	padding:10px;
	font-size:21px;
	margin-top:20px;
	border:0;}
.padding-top10{
	padding-top:10px;}
.padding-top30{
	padding-top:30px;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.right-margin-10px {
    margin-right: 10px;
}
.margin-bottom-5px{
	margin-bottom:5px;}
.ow-margin-top20{
	margin-top:20px !important;}
.ow-no-margin-top{
	margin-top:0 !important;}
.ow-width100{
	width:100% !important;}
@media all and (max-height: 700px){
.fav-img {
    height: 90px;
    margin-top: calc(25vh - 110px);
}

}
@media all and (max-height: 500px){
.fav-img {
    height: 90px;
    margin-top: calc(25vh - 110px);
}
.fav-img {
    height: 70px;
    margin-top: calc(25vh - 90px);
}
.fav-p {
    font-size: 18px;}
}
@media all and (max-width: 1600px){
.left-img-div2 {
    height: 250px;}
}
@media all and (max-width: 1500px){
.sticky-distance {
    height: 42px;
}
.breed-p {
    font-size: 14px;
}
.pet-name {
    font-size: 24px;
}
.price-p2 {
    font-size: 18px;}
.seller-h1, .seller-name-h1 {
    font-size: 21px;
}
}

@media all and (max-width: 1450px){
.filter-option {
    width: 25%;}
}
@media all and (max-width: 1400px){
.h1-title {
	font-size:32px;}	
.green-border{
    width: 30px;}	
.login-white-box {
    width: 40%;}
.mid-search-div {
    padding: 0 10%;
	width: calc(100% - 360px);
}
.left-h1-div, .right-add-div {
    width: 180px;
}
.product-box {
    width: 250px !IMPORTANT;
	margin-right:0;}
.slider-product-price {
    font-size: 19px;}
.slider-product-name {
    font-size: 14px;
}
.left-img-div{
	width:40%;
	height: 300px;}
.blog-img{
	height:300px;}
.right-content-div {
    width: 60%;
	height: 300px;}
.same-with-btn-font {
    font-size: 18px;
}
.left-image-div {
    width: 400px;
}
.lSSlideOuter .lSPager.lSGallery li {
    width: 75px !important;
}
.right-content-div2 {
    width: calc(100% - 400px);}
.top-divider {
    margin-top: 10px;
}
.review-modal-margin {
    width: 70%;
}
.left-img-div2 {
    height: 200px;
}
.blog-inner-div {
    width: 70%;}
.dual-left-div {
    width: 460px;}
.dual-search-div {
    float: left;
    width: calc(100% - 460px);
    padding: 0;
    padding-left: 50px;
    margin-top: -20px;
}
}
@media all and (max-width: 1300px){
.login-modal-content {
    width: 60%;}
.modal-visible-p {
    right: calc(20% + 55px);}
.seller-profile-div {
    width: 130px;}
.right-seller-details {
    width: calc(100% - 130px);
}
.notice-modal-content {
    width: 60%;}
}
@media all and (max-width: 1200px){
.center-content, .contact-div {
    width: 70%;}
.middle-logo {
    width: 200px;}
.seller-name-h1{
	margin-bottom: 0;
}
.order-table {
    width: 100%;}
.price-table {
    width: calc(35% - 5px);
    margin-left: 65%;
}

}
@media all and (max-width: 1100px){

.pet-name {
    font-size: 18px;
}
.breed-p {
    font-size: 12px;
}
.price-p2 {
    font-size: 16px;
}
.right-info-div {
    float: none;
    clear: both;}
.left-review-p, .left-review-mark, .right-review-star{
	margin-bottom:0;}

.seller-name-h1 {
    font-size: 18px;
}
.pet-seller-all-div .right-review-star {
    margin-top: 12px;
}
.pet-seller-all-div .left-address-info {
    width: 100%;
	margin-bottom: 10px;}
.review-div {
    margin-top: 10px;
}
.left-rating {
    font-size: 12px;
}
.rating-tiny-star {
    width: 10px;}
.right-sold {
    font-size: 12px;
}
.lower-review-div{
	margin-top:0;	
}
.left-img-div2 {
    height: 150px;
}
}
@media all and (max-width: 1000px){
.login-white-box {
    width: 50%;
}	
.four-div-amount-p {
    font-size: 21px;	}
.four-div-p {
    font-size: 16px;
    margin: 5px 0;
}
.mid-search-div {
    padding: 0 5%;}
.logged-menu .menu-padding {
    display: none;
}
.logged-menu .dl-menuwrapper {
    display: block;
	margin-top: -12px;
}
.filter-label2 {
    font-size: 15px;
}
.left-image-div {
    width: 400px;
    float: none;
    text-align: center;
    margin-left: calc(50% - 200px);
}
.right-content-div2 {
    float: none;
    width: 400px;
    padding-left: 0;
    margin-left: calc(50% - 200px);
	margin-top: 20px;
}
.lSSlideOuter .lSPager.lSGallery li {
    width: 75px !important;
}
.menu-distance3 {
    margin-top: 63px;
}
.social-dropdown {
    width: 360px;
    right: -180px;
}
.sticky-call-div{
	display:inline-block;
}
.sticky-distance2 {
    height: 75px;
}
.sold-label2 {
    width: 50px;
    position: absolute;
    font-size: 16px;}
.pet-seller-all-div .right-content-div2 {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
}
.big-info-div {
    margin-bottom: 50px;
}
.three-button-width {
    width: 33%;
    text-align: center;
    float: left;
    margin-right: 0;
    margin-left: 0;
}
.three-button-width .right-sold{
	float:none;}
.product-details-all-div .right-content-div2{
	margin-left:0;
	margin-right:0;
	width:100%;}
.variation-left-div {
    float: none;
    width: 200px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;}
.variation-tab {
    border-top: 1px solid #d8d8d8;
    float: none;
    width: 100%;
}
.filter-label3 {
    font-size: 18px;
}
.left-stock-p, .right-price-p, .quantity-p{
    font-size: 14px;
}
.right-price-p {
    float: right;
    margin-left: 0;}
.numbers-row-css {
    float: right;
    margin-left: 0;}
.left-total-p {
    font-size: 18px;
}
.right-total-price {
    float: right;
    font-size: 18px;}
.left-total-p {
    margin-left: 30px;}
.cart-product-title {
    font-size: 18px;}
.right-delete {
    font-size: 14px;}
.close-img {
    width: 18px;}
.right-rm, .right-rm2 {
    margin-left: 0;
    float: right;
}
.right-ship-amount {
    font-size: 16px;}
.right-ship-price {
    font-size: 18px;
}
.two-square-btn {
    font-size: 16px;}
.adopt-bg {
    padding-top: 70px;
    padding-bottom: 70px;
}
.adopt-h1{
    font-size: 36px;	
}
.adopt-p {
    font-size: 22px;
}
.adopt-btn {
    font-size: 22px;	
}
}
@media all and (max-width: 950px){
.four-div-p {
    min-height: 38px;
}
.filter-option {
    width: 33%;
}
.ship-top-div .h1-title {
    font-size: 21px;
}
}
@media all and (max-width: 900px){
.text-menu-a.menu-margin {
    margin-left: 12px;
}
.text-menu-a {
    font-size: 14px;}
.product-big-div .four-box-size {
    width: 31.5%;
    margin-right: 1.5%;
	margin-bottom: 15px;
}
.review-modal-margin {
    width: 80% !important;
}
.notice-modal-content {
    width: 80%;}
.dual-left-div {
    width: 350px;
}
.dual-search-div {
    width: calc(100% - 350px);}
.adopt-link {
    margin-bottom: 0;
    margin-top: 0;
}
.adopt-details {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
}
}
@media all and (max-width: 800px){
.login-white-box{
	float: none;
    margin-left: auto;
    margin-right: auto;
	width: 70%;
	margin-top: calc(50vh - 240px);
}	
.visible-p {
    right: calc(21% + 30px);}
.login-modal-content {
    width: 80%;
}	
.four-div-box{
	width:31%;}
.left-four-div {
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.right-four-div {
    margin-left: 0;
    margin-right: 0;
}
.forth-div{
	margin-right:3.5%;
	}
.bottom-spacing {
    height: 25px;
}
.left-h1-div{
	width:100%;}
.mid-search-div {
    padding: 0;
	width: calc(100% - 220px);
}
.green-table {
    font-size: 13px;
}
.product-box {
    width: 200px !IMPORTANT;}
.slider-product-price {
    font-size: 17px;
}
.slider-product-name {
    font-size: 13px;
}
.form-submit{
	width:100% !IMPORTANT;}
.user-title {
    font-size: 21px;
}
.right-align-link {
    margin-top: 20px;
    font-size: 13px;
}
.slider-product-price {
    font-size: 15px;
}
.slider-location {
    font-size: 13px;
}
.modal-visible-p {
    right: calc(10% + 55px);
}
.filter-icon {
    height: 18px;
}
.filter-div {
    margin-top: 18px;
}
.filter-distance {
    margin-top: 120px;
}
.one-row-review {
    padding-left: 0;
    padding-right: 0;
}
.partners-search-div {
    margin-top: 2px;
    margin-left: calc(30% - 81.22px);
}
.min-height-with-filter {
    min-height: calc(100vh - 188px);
}

.product-btn {
    font-size: 14px;
    padding: 0;
}
.product-filter-a {
    margin-top: 17px;
	font-size: 14px;
}
.product-filter-a {
    margin-top: 21px;}
.top-divider {
    margin-top: 0;
}
.tab-icon {
    width: 20px;
}
.tab-tab-p {
    font-size: 12px;
}
.green-dot {
    width: 8px;
    height: 8px;
	margin-left: calc(12.5% + 2px);}
.two-menu-space {
    height: 51px;
}
.left-img-div2 {
    height: 120px;
}
.article-title {
    font-size: 16px;
}
.date-p {
    font-size: 12px;
	    margin-bottom: 0;
}
.right-content-p {
	font-size: 14px;
}
.blog-inner-div {
    width: 100%;
    margin: 0 auto;
    padding: 0 7.5%;}
.small-blog-date {
    margin-top: 2px;}
.line-divider .tab-icon {
    width: 35px;
}
.dual-input {
    width: 100%;
	float:none;
	margin-left:0;
}
.edit-1-btn {
    width: 100%;
}
.ccv-modal-margin {
    width: 60%;
}
.green-button {
    font-size: 17px;}
.two-left-h1-div {
    width: 100px !important;
}
.slider-update, .slider-delete {
    width: 120px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 14px !important;
}
.slider-delete {
    margin-left: 20px;
}
.bottom-reject {
    font-size: 17px;}
.darkgreen-button {
	font-size: 17px;
}
.left-download-btn {
    width: 150px;}
.right-uplaod-btn {
    width: 150px;
}
.second-second-div {
    margin-right: 0;
}
.product-filter-h1 {
    margin-top: 5px;
	margin-bottom:5px;
}
.filter-div {
    margin-top: 12px;
}
.product-filter-a {
    margin-top: 14px;
}
.filter-distance {
    margin-top: 95px;
}
.product-filter-distance {
    margin-top: 95px;
}
}
@media all and (max-width: 770px){
.sticky-footer {
    padding-left: 0;
    padding-right: 0;
}
.order-table {
    font-size: 16px;
}
.price-table {
    width: calc(55% - 5px);
    margin-left: 45%;
    font-size: 16px;
}
}
@media all and (max-width: 750px){
.dual-search-div{
    padding-left: 30px;	
}
.dual-left-div {
    width: 220px;
}
.dual-left-div h1 {
    font-size: 21px;
}
.dual-search-div {
    width: calc(100% - 220px);
    margin-top: -30px;
}
.dual-search {
    width: 20px;
    margin-top: 5px;
}
.photo-left-div {
    width: 100% !important;
    float: none;
}
.button-right-div {
    margin-top: 20px;
    width: 100% !important;
}
.left-download-btn, .right-uplaod-btn {
    width: calc(50% - 7.5px);
	float:left;
	margin-top: 0;
}
}
@media all and (max-width: 700px){
.four-div-img {
    width: 70%;
}
.ow-homepage-slider{
	padding-top: 0;
}
.partners-search-div {
    margin-top: 2px;
    width: calc(100% - 125px);
    margin-left: 0;
    padding: 0 30px;
}
.adjust-padding{
	padding:0;}
.same-padding3 {
    padding-left: 0;
    padding-right: 20px;
}
.sticky-bottom-price{
	margin-left: 0;
}
.featured-left .h1-title {
    font-size: 24px;
}
.featured-left {
    width: 250px;
}
.featured-right .green-button {
    margin-top: 0;
    font-size: 16px;
    width: 120px;
    float: right;
}
.featured-same-button {
	font-size: 14px !important;}
.adopt-h1 {
    font-size: 32px;
}
.adopt-p {
    font-size: 19px;
}
.adopt-btn {
    font-size: 19px;
	width: 170px;
}
.adopt-span{
	display:none;}
}
@media all and (max-width: 670px){
.dl-menuwrapper{
	display:block;
	}
.menu-padding{
	display:none;}
.text-menu-right {
    margin-top: 21px;
}
.header1 {
    padding-top: 2px;
    padding-bottom: 2px;
}
#jssor_1, .menu-distance {
    margin-top: 42px !important;
}

.fav {
    height: calc(50vh - 54.5px);}
.logged-menu .dl-menuwrapper {
    margin-top: -25px;
}
.fix-filter {
    top: 40px;
}
.filter-modal {
    width: 95%;}
.menu-distance3 {
    margin-top: 42px;
}
.min-height3{
	min-height:calc(100vh - 110px);	
}
.filter-distance {
    margin-top: 85px;
}
.purchase-bottom-div {
    width: 95%;
    margin-left: -21px;}
.min-height4 {
    min-height: calc(100vh - 190px);
}
.admin-min-height-with-distance {
    min-height: calc(100vh - 67px);
}
.featured-left {
    margin-top: 10px;
}
.featured-right {
    margin-top: 15px;
}
.left-user-div {
    margin-top: 10px;
}
.border-separation {
    margin-top: 30px;
}
.green-border {
    border-bottom: 3px solid #1c4564;}
.dual-search-div {
    margin-top: -20px;
}
.dual-left-div {
    margin-top: 5px;
}
.dual-search {
    width: 15px;
    margin-top: 8px;
}

.product-filter-distance {
    margin-top: 85px;
}
}

@media all and (max-width: 650px){
.middle-logo {
    margin-top: 15px;
    width: 130px;
    margin-bottom: 15px;
}
.center-content, .contact-div {
    font-size: 16px;
}
.input-name {
    font-size: 16px;
    margin-bottom: 10px;}
.privacy-p{
    font-size: 16px;	
}
.modal-visible-p{
    margin-top: -35px;	
}
.four-box-size {
    width: 30%;
    margin-right: 3%;}
.left-img-div2 {
    height: 90px;
}
.edit-password-input-div {
    margin-bottom: 10px;
}
.confirm-modal-margin {
    width: 85%;
}
.admin-top-p {
    margin-bottom: 0;
}
.admin-input{
	margin-bottom: 25px;	
}
}


@media all and (max-width: 635px){
.footer-img {
    width: 30px;
}

.sticky-distance {
    height: 38px;
}
.fav {
    height: calc(50vh - 52px);
}
.sticky-call-div {
    bottom: 38px;}
.sticky-distance2{
	height:70px;}
.min-height3{
	min-height:calc(100vh - 105px);	
}
.red-btn {
    padding: 7px 0;
}
.sticky-distance3 {
    height: 70px;
}
.red-btn {
    padding: 10px 0;
}
.min-height4 {
    min-height: calc(100vh - 185px);
}
.menu-distance2 {
    margin-top: 58px;
}
}
@media all and (max-width: 615px){
.footer-margin1 {
    margin-left: 3%;
}
}
@media all and (max-width: 600px){
.h2-title {
    font-size: 27px;}
.login-modal-content {
    width: 85%;
	padding: 50px 30px;
}
.mid-search-div {
    width: 100%;
}
.right-add-div{
	float:left;}
.product-box {
    width: 150px !IMPORTANT;
}
.center-content, .contact-div {
    width: 100%;
}
.review-content-p {
    font-size: 16px;
}
.left-review-profile {
    width: 70px;}
.left-review-data {
    margin-left: 10px;
}
.one-row-review {
    padding-top: 20px;
    padding-bottom: 5px;}
.beside-right-arrow {
    font-size: 12px;
    margin-top: 20px;
}
.tablinks {
    font-size: 14px !important;
}
.pet-table, .pet-table-p {
    font-size: 14px;
}
.checkout-btn {
    width: 100%;}
.left-cart-img-div {
    width: 100px;
}
.left-quantity1, .left-shipping1, .right-rm, .left-total, .right-rm2 {
    font-size: 13px;
}
.voucher-label {
    font-size: 15px;
}
.checkout-btn {
    font-size: 18px;
	margin-bottom: 5px;
}
.ship-right-info {
    width: calc(100% - 100px);}
.top-text {
    font-size: 14px;}
.bottom-text {
    font-size: 16px;
}
.login-h1 {
    font-size: 27px;
}
.edit-icon1 {
    width: 20px;
}
.two-right-add-div {
    float: right;}
.featured-right {
    float: right;
}
.puppy-button-div {
    clear: none;
    float: left;
	width: calc(100% - 120px);
}
.puppy-button {
    font-size: 14px;
    width: 120px;
    margin-left: 0;
    margin-right: 0;
	
}
.puppy-right-add-div{
	width:auto;}
.mid-breeed-button {
    margin-left: 10px;
    margin-right: 10px;
}
.table-green-a {
    font-size: 13px;
}
.table-left-review-profile {
    width: 35px;
}
.table-review-username-p {
    font-size: 13px;}
.table-review-img {
    width: 80px;
}
.table-review-p {
    font-size: 14px;
    margin-top: 10px;
}
.table-date-p {
    font-size: 12px;}
.left-adopt-div {
    width: 50%;
}
.adopt2{
	display:block;}
.adopt1{
	display:none;}
.adopt-bg {
    padding-top: 30px;
    padding-bottom: 30px;
}
.adopt-h1 {
    font-size: 27px;
}
.paw-png {
    width: 25px;
}
.adopt-p {
    font-size: 16px;
}
.adopt-btn {
    font-size: 17px;
    width: 150px;
}
}
@media all and (max-width: 580px){
.partner-img {
    width: 17%;
}
.mid-btn-width {
    width: 250px;
    font-size: 18px;
}
.mid-btn-margin {
    margin-left: calc(50% - 125px);
}
.product-big-div .four-box-size {
    width: 30%;
    margin-right: 3%;
	margin-bottom: 30px;
}
.product-big-div .four-box-size {
    width: 48%;
    margin-right: 2%;
	margin-bottom: 10px;}
}
@media all and (max-width: 550px){
.left-img-div {
    height: 170px;
    width: 100%;
    float: none;
    border-bottom-left-radius: 0;
}
.right-content-div {
    height: auto;
    overflow: hidden;
    width: 100%;
    max-height: 250px;
}
.article-title {
    font-size: 16px;
}
.date-p {
    font-size: 12px;
}
.right-content-p {
    font-size: 14px;
}
.blog-img {
    height: auto;
    width: 100%;
}
.ccv-modal-margin {
    width: 85%;
}
}
@media all and (max-width: 530px){
.left-product-details {
    width: calc(80% - 75px);
}
}
@media all and (max-width: 500px){
.login-white-box{
	width: 100%;
}
.visible-p {
    right: calc(7.5% + 30px);
}	
.four-div-box{
	width:48%;
	margin-left:0;
	margin-right:0;}	
.second-four-div-box{
	margin-left:4%;}
.four-box-size {
    width: 45%;
    margin-right: 5%;}
.filter-option {
    width: 50%;
}
.brand-p {
    font-size: 12px;
    margin-top: 20px;
	width: calc(100% - 190px);
}
.left-product-details {
    width: calc(100% - 175px);
}
.cart-numbers, .right-rm, .right-rm2  {
    margin-right: -35px;
}
.ship-product-title {
    font-size: 15px;
}
.right-ship-amount {
    font-size: 14px;
}
.right-ship-price {
    font-size: 15px;
}
.ship-price1 {
    font-size: 14px;
}
.two-square-btn {
    margin-top: 10px;
}
.two-div-width {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
	clear:both;
	overflow: hidden;}
.left-img-div2 {
    height: 130px;
}
.article-paragraph {
    font-size: 14px;
}
.right-add-div {
    width: 100%;
}
.puppy-right-add-div {
    width: auto;
}
.dual-left-div {
    width: 100%;
    float: none;}
.dual-search-div {
    width: 100%;
    margin-top: -10px;
    float: none;
    padding-left: 0;
}
.left-request-div {
    float: none;
    width: 100%;
}
.right-search-div {
    float: none;
    width: 100%;
}
.left-request-div .review-product-name {
    margin-bottom: 0;
}
.four-box-size {
    width: 47%;
    margin-right: 2.5%;
	margin-bottom: 15px;
}
}



@media all and (max-width: 470px){
.product-filter-div {
    clear: both;
    margin-top: -7px;
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 3px 0;
    border-bottom: 1px solid #ececec;
}
.product-btn {
    font-size: 12px;
    padding: 0;
    width: 24%;
    margin: 0;
    text-align: center;
}
.product-filter-white-div {
    padding-bottom: 5px;
}

.product-filter-distance {
    margin-top: 102px;
}
.blog-img {
    height: 170px;
    width: auto;
}

}
@media all and (max-width: 465px){
.web-view-footer-a{
	float: left;}
.sticky-footer {
    width: 100%;
    overflow: hidden;
	overflow-x: auto;
}
.web-view-footer {
    float: none;
    overflow-x: auto;
	width: 700px;
}
.sticky-distance {
    height: 35px;
}
}
@media all and (max-width: 450px){
.left-image-div {
    width: 100%;
    margin-left: 0;
}
.lSSlideOuter .lSPager.lSGallery li {
    width: calc(20% - 5px) !important;
}
.right-content-div2 {
    width: 100%;
    margin-left: 0;}
.pet-table {
    font-size: 14px;
}
.seller-profile-div {
    width: 100px;
}
.right-seller-details {
    width: calc(100% - 100px);
    padding-left: 15px;}
.seller-name-h1 {
    font-size: 16px;
}
.right-review-star {
    margin-top: 14px;
}
.sold-label2 {
    width: 40px;
    font-size: 14px;
}
.review-username-p {
    font-size: 14px;
}
.star-img {
    width: 15px;
}
.right-review-star {
    margin-top: 17px;
}
.dual-div {
    width: 100%;
	margin-left:0;
	margin-right:0;}
.two-right-add-div .green-button {
    margin-top: 8px;
    font-size: 14px;
    width: 100px;
    float: right;
}
.two-right-add-div {
    width: calc(100% - 110px) !important;
}
.slider-update, .slider-delete {
    width: 80px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 12px !important;
    margin-top: 8px;
}
.slider-delete {
    margin-left: 10px;
}
.featured-left .h1-title {
    font-size: 18px;
}
.featured-left {
    width: auto;
}
.featured-right {
    margin-top: 10px;
}
.puppy-button {
    width: 100px;}
}
@media all and (max-width: 420px){
.partner-big-div .user-title {
    font-size: 18px;
}
.partner-big-div .filter-a {
    font-size: 14px;}
.partner-big-div .filter-div {
    margin-top: 13px;
}
.partners-search-div {
    margin-top: 0;
    width: calc(100% - 103px);
    margin-left: 0;
    padding: 0 10px;}
.partner-big-div .filter-search {
    font-size: 16px;}
}
@media all and (max-width: 400px){
.four-div-p {
    font-size: 14px;
	min-height:34px;}	
.four-div-amount-p {
    font-size: 18px;
}
.right-add-div{
	width:100%;}	
.fav-img {
    height: 90px;}

.right-review-star {
    margin-top: 0;
    float: none;
    clear: both;
}
.sticky-call-style {
    font-size: 15px;}
.sticky-distance2 {
    height: 66px;
}
.pet-seller-all-div .right-review-star {
    float: left;
    clear: none;
}
.react-button img {
    width: 22px;
}

.partner-big-div .filter-div {
    clear: none;
    width: auto;}

.filter-btn {
    margin-right: 0;
}

.product-filter-distance {
    margin-top: 102px;
}
.product-details-all-div .right-review-star {
    float: left;
    clear: none;
	margin-top: 17px;
}
.left-orange-div, .right-red-div {
    font-size: 14px;
}

.left-cart-img-div {
    width: 70px;
}
.left-product-details {
    width: calc(100% - 145px);
}
.ship-product-img{
	width:100px !important;}
.rating label .icon {
    font-size: 40px;
}
.featured-right {
    width: auto !important;
}
.left-user-div .h1-title {
    font-size: 24px;
}
.puppy-button {
    width: 100%;
	margin-left:0;
	margin-right:0;
}
.puppy-button-div {
    float: none;
    width: 100%;
}
.border-separation {
    margin-top: 30px;
}
.left-download-btn, .right-uplaod-btn {
	font-size: 14px;
}
.adopt-h1 {
    font-size: 24px;
}
.paw-png {
    width: 22px;
}
.adopt-p {
    font-size: 14px;
}
.adopt-btn {
    font-size: 15px;
    width: 130px;
}
}
@media all and (max-width: 380px){
.beside-right-arrow {
    margin-right: 5px;
}
.brand-p {
	width: calc(100% - 180px);
}
.price-table {
    width: calc(100% - 5px);
    margin-left: 0;
}
.left-img-div2 {
    height: 100px;
}
.featured-right .green-button {
    font-size: 14px;
    width: 90px;}
}
@media all and (max-width: 370px){
.slider-product-price {
    font-size: 13px;
}
.slider-product-name {
    font-size: 12px;
}
.left-rating {
    font-size: 11px;
}
.right-sold {
    font-size: 11px;
}
}
@media all and (max-width: 360px){
.left-quantity1, .left-shipping1, .right-rm, .left-total, .right-rm2 {
    font-size: 12px;
}
.left-cart-img-div {
    width: 50px;
}
.left-product-details {
    width: calc(100% - 125px);
}
.login-h1 {
    font-size: 23px;
}
}
@media all and (max-width: 350px){
.left-slider {
    width: 60px;
    font-size: 15px;
}
.slider-update, .slider-delete {
    width: 70px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 12px !important;
    margin-top: 2px;
}
.right-slider {
    width: calc(100% - 60px);
}
.left-adopt-div {
    width: 60%;
}

}
@media all and (max-width: 335px){
.button-label{
    width: 80%;
    margin-bottom: 20px;	
}
}
@media all and (max-width: 330px){
.left-quantity1, .left-shipping1, .right-rm, .left-total, .right-rm2 {
    font-size: 11px;
}
.line-divider .tab-icon {
    width: 25px;
}
.line-divider .tab-tab-p {
    font-size: 10px;
}
.cart-text{
	font-size:9px;
	margin-top: 4px;}
.green-dot2 {
    margin-left: calc(9% + 10px) !important;
    width: 20px !important;
    height: 20px !important;
}
}
@media all and (max-width: 315px){

.product-btn {
    margin-right: 0;
}	
	
}
@media all and (max-width: 310px){
.login-h1 {
    font-size: 21px;
}
.left-download-btn, .right-uplaod-btn {
    font-size: 13px;
}
}